<!doctype html>
<html class="no-js" lang="zxx"></html>

    <!--Head -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Internship Publication </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

        <!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/price_rangs.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>

        <!--Header-->
      <div id="header"></div>

        <!--Pic-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/Internship_Page/internImg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Edit Company Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Main body-->
        <div class="container box_1170">
          
           <form action="/updateCompany" autocomplete="on" method="POST" enctype="multipart/form-data">
                <div class="row whole-wrap" style="padding-left: 5%; padding-right:5%;">
                   
                    <div class="col-lg-6 col-md-8 section-top-border">
                        <h3 class="text-heading mb-30">Company Information</h3>

			      <div class="col-md-12 col-lg-12 mt-15 ">
	                            <a href="{{com[9]}}" class="img-pop-up">
	                                <img class="img-fluid" src="{{com[9]}}">
	                            </a>
				         <a href="{{com[10]}}" target="_blank" class="genric-btn primary small">Change Logo</a>
	                        </div>
			 

                            <div class="mt-15">
                                <label for="com_name">Company name:</label>
                                <input type="text" name="com_name" placeholder="Company Name" required class="single-input" value="{{com[1]}}">
                            </div>

                            <div class="mt-15">
                                <label for="total_staff">Total Number of Staff(s):</label>
                                <input type="number" step='1' min="1" name="total_staff" placeholder="Total Staff(s)" required class="single-input" value="{{ com[2] }}">
                            </div>

                            <div class="mt-15">
                                <label for="industry_invlove">Industry Invlove:</label>
                                <input type="text" name="industry_invlove" placeholder="Industry Invlove" required class="single-input" value="{{ com[3] }}">
                            </div>

                            <div class="mt-15">
                                <label for="product_service">Product(s)/Service(s):</label>
                                <input type="text" name="product_service" placeholder="Product(s)/Service(s)" required class="single-input" value="{{ com[4] }}">
                            </div>

                            <div class="mt-15">
                                <label for="company_website">Company Website:</label>
                                <input type="text" name="company_website" placeholder="Company Website" required class="single-input" value="{{ com[5] }}">
                            </div>

                            <div class="mt-15">
                                <label for="OT_claim">OT Claim:</label>
                                <input type="number" step='0.1' min="0" name="OT_claim" placeholder="OT Claim" required class="single-input" value="{{ com[6] }}">
                            </div>

                            <div class="mt-15">
                                <label for="nearest_station">Nearest MRT/LRT Station:</label>
                                <input type="text" name="nearest_station" placeholder="Nearest MRT/LRT Station" required class="single-input" value="{{ com[7] }}">
                            </div>

                            <div class="mt-15">
                                <label for="com_address">Headquater Address:</label>
                                <textarea class="single-textarea" name="com_address" placeholder="Headquater Address" required value="">{{ com[8] }}</textarea>
                            </div>

			     <div class="mt-15">
				<label for="ssm">SSM: </label>
				<iframe name="ssm" src="{{ com[10] }}" width="100%" height="300"></iframe>
				<input type="file" placeholder="Upload New SSM" class="genric-btn primary small" id="ssm_new" name="ssm_new" accept=".pdf" value="">
				
	                     </div>
                    </div>

			<div class="col-lg-1 col-md-8 section-top-border"></div>

                    <div class="col-lg-4 col-md-8 section-top-border">
                        <h3 class="text-heading mb-30">Person Incharge</h3>

                            <div class="mt-15">
                                <label for="person_incharge">Name:</label>
                                <input type="text" name="person_incharge" placeholder="Person Incharge Name" required class="single-input" value="{{ com[11] }}">
                            </div>

                            <div class="mt-15">
                                <label for="contact_no">Contact Number:</label>
                                <input type="text" name="contact_no" placeholder="Contact Number" required class="single-input" value="{{ com[12] }}">
                            </div>

                            <div class="mt-15">
                                <label for="e-mail">Email</label>
                                <input type="password" name="e-mail" placeholder="E-mail" required class="single-input" value="{{ com[13] }}" disabled>
                            </div>

                            <div class="mt-15">
                                <label for="password">Password:</label>
                                <input type="password" name="password" placeholder="Password" required class="single-input" value="{{ com[14] }}">
                            </div>


                        <div class="mt-30" style="text-align: center;">
                            <button type="submit" class="genric-btn success circle arrow">Save</button>
                            <a href="/goProfile" class="genric-btn danger circle arrow">Cancel</a>
                        </div>
                    </div>


                    
                </div>
            </form>
   
        </div>







        <!-- Footer Start-->
	<div id="footer"></div>
        <!-- JS here -->

	<script>
	        $(function () {
	            $("#header").load("{{ url_for('static', filename='templates/Header.html') }}");
	            $("#footer").load("{{ url_for('static', filename='templates/Footer.html') }}");
	        });
	</script>
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>






</html>
