<!doctype html>
<html class="no-js" lang="zxx"></html>

    <!--Head -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Internship Publication </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

        <!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/price_rangs.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>

        <!--Header-->
       	  {% include 'Header.html' %}
        <!--Pic-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/Internship_Page/internImg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Internship Pulication</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Main body-->
        <div class="container box_1170">
          
                <div class="row whole-wrap" style="padding-left: 5%; padding-right:5%;">

                    <div class="col-1g-12 col-md-8 section-top-border">
                        <h3 class="text-heading mb-30">Internship Publication</h3>
                        
                        <form action="/addInternFormCom" autocomplete="on" method="POST" enctype="multipart/form-data">

                            <div class="mt-10">
                                <input type="text" name="job_title" placeholder="Job Title" required class="single-input">
                            </div>

                            <div class="mt-10">
                                <textarea class="single-textarea" name="job_description" placeholder="Job Description" required></textarea>
                            </div>

                            <div class="mt-10">
                                <input type="number" step='1' min="0" name="job_salary" placeholder="Job Salary" required class="single-input">
                            </div>

                            <div class="mt-10">
                                <textarea class="single-textarea" name="job_location" placeholder="Location" required></textarea>
                            </div>

                            <div class="mt-10">
                                <input type="text" name="workingDay" placeholder="Working Day(s)" required class="single-input">
                            </div>

                            <div class="mt-10">
                                <input type="text" name="workingHour" placeholder="Working Hour(s)" required class="single-input">
                            </div>
                
                       <div class="input-group-icon mt-10">
								<div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
								<div class="form-select" id="default-select">
                                    <select name="accommodation">
                                        <option value="No">Does Not Provide Accommodation</option>
                                        <option value="Yes">Provide Accommodation</option>
									</select>
								</div>
							</div>

				   <div class="mt-30" style="text-align: center;">
		                            <button type="submit" class="genric-btn success circle arrow">Submit</button>
		                            <a href="/goManageInternship" class="genric-btn danger circle arrow">Cancel</a>
		                        </div>


                        </form>

                     
                    </div>

                 <div class="col-1g-12 col-md-4 section-top-border">
                        <h3 class="text-heading mb-30">Company Infomation</h3>
                        <div class="col-md-12 center">
                            <a href="{{com[9]}}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({{com[9]}});"></div>
                            </a>
                        </div>

                        <div class="col-md-12 typography text-center">
                            <h4 id="com_name">{{com[1]}}</h4>
                        </div>

                        <div class="mt-30" style="text-align: center;">
                            <a href="/goProfile" class="genric-btn primary arrow">View More</a>
                        </div>

                        
                    </div>
                </div>
   
        </div>







        <!-- Footer Start-->
	  {% include 'Footer.html' %}
    
        <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>






</html>
