<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
 <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>TARUMT ITP </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/TARUMT_Logo/tarumt_sc.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/price_rangs.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/register.css">

</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <div class="title-2 mt-15">Personal Details</div>
            <form action="/chooseStud2" method="POST" enctype="multipart/form-data">
                <div class="gender-details mt-20">
                    <input type="radio" name="gender" id="dot-1">
                    <input type="radio" name="gender" id="dot-2">
                    <input type="radio" name="gender" id="dot-3">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender" value="M">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender" value="F">Female</span>
                        </label>

                    </div>
                </div>
                
                <div class="user-details">
                    
                    <div class="input-box">
                        <span class="details">Student ID (Without alphabet)</span>
                        <input type="text" placeholder="Enter your student ID" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your full name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Identity Card No.</span>
                        <input type="text" placeholder="Enter your identity card no." required>
                    </div>
                    <div class="input-box">
                        <span class="details">E-mail</span>
                        <input type="email" placeholder="Enter your e-mail" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Personal E-mail</span>
                        <input type="email" placeholder="Enter your e-mail" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your phone number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Home Phone Number</span>
                        <input type="text" placeholder="Enter your home phone number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Current Address</span>
                        <input type="text" placeholder="Enter your current address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Home Address</span>
                        <input type="text" placeholder="Enter your home address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Enter your password" required>
                    </div>
                    <div class="file-box">
                        <span class="details">Profile Picture</span>
                        <input type="file" id="stud_pic" name="stud_pic">
                    </div>

                   
                      

                </div>
                <div class="button">
                    <input type="submit" value="Next">
                </div>
            </form>
        </div>
    </div>


    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>
