<!doctype html>
<html class="no-js" lang="zxx"></html>

    <!--Head -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Internship Management </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

          <!-- CSS here -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/price_rangs.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>

        <!--Header-->
       {% include 'Header.html' %}

        <!--Pic-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"  data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>View Student Info</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main body-->
        <div class="container box_1170">
          
                <div class="row whole-wrap" style="padding-left: 5%; padding-right:5%;">

                    <div class="col-1g-12 col-md-8 section-top-border">
                        <h3 class="text-heading mb-30">View Student</h3>
                        
                        <form action="#" id="viewStudentInfoDetails">
                            <div class="mt-10"><!--Student ID-->
                                Student ID:<br>
				<span class="single-input">{{ student[0] }}</span>
                            </div>

                            <div class="mt-10"><!--IC-->
                                Student IC:<br>
				<span class="single-input">{{ student[2] }}</span>
                            </div>

			    <div class="mt-10"><!--Gender-->
                                Gender:<br>
				<span class="single-input">{{ student[4] }}</span>
                            </div>

                            <div class="mt-10"> <!--Programme-->
                                Programme:<br>
				<span class="single-input">{{ student[5] }}</span>
                            </div>
                
                            <div class="mt-10"> <!--Group-->
                                Group:<br>
				<span class="single-input">{{ student[6] }}</span>
                            </div>

                            <div class="mt-10"><!--CGPA-->
                                CGPA:<br>
				<span class="single-input">{{ student[7] }}</span>
                            </div>

                            <div class="mt-10"> <!--Intern Batch-->
                                Intern Batch:<br>
				<span class="single-input">{{ student[9] }}</span>
                            </div>
                
                            <div class="mt-10"><!--Own Transport-->
                                Own Transport:<br>
				<span class="single-input">{{ student[10] }}</span>
                            </div>

                            <div class="mt-10"><!--Current Address-->
                                Current Address:<br>
				<span class="single-input">{{ student[11] }}</span>
                            </div>

                            <div class="mt-10"><!--Contact No-->
                                Contact NO:<br>
				<span class="single-input">{{ student[12] }}</span>
                            </div>
                
                            <div class="mt-10"><!--Personal Email-->
                                Personal Email:<br>
				<span class="single-input">{{ student[13] }}</span>
                            </div>

                            <div class="mt-10"><!--Home Address-->
                                Home Address:<br>
				<span class="single-input">{{ student[14] }}</span>
                            </div>

                            <div class="mt-10"><!--Home Phone-->
                               Home Phone:<br>
			       <span class="single-input">{{ student[15] }}</span>
                            </div>
                
                            <div class="mt-10"><!--Resume--> 
				<iframe src="{{ student[17] }}" width="100%" height="600"></iframe>
				<a href="{{student[17]}}" target="_blank" class="genric-btn success circle arrow">Resume</a>
    
                            </div>
                        </form>

                        <div class="mt-30" style="text-align: center;">
                            <a href="{{ url_for('editStudent', stud_id=student[0]) }}" class="genric-btn success circle arrow">Edit</a>
                            <a href="/viewStudentInfo" class="genric-btn danger circle arrow">Back</a>
                        </div>
                    </div>

                    <div class="col-1g-12 col-md-4 section-top-border">
                        <h3 class="text-heading mb-30">Student Information</h3>
			<div class="col-md-12 typography text-center">
			        <a href="{{ student[16] }}" class="img-pop-up">
			            <img src="{{ student[16] }}" alt="Student Image" class="single-gallery-image">
			        </a>
			</div>

                        <div class="col-md-12 typography text-center">
                            <h4 id="stud_name">{{student[1]}}</h4>
                            <h6 id="email">{{student[3]}}</h6>
                        </div>
                  
                    </div>
                </div>
   
        </div>







  {% include 'Footer.html' %}
    
<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{url_for('static', filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
	<script src="{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/vendor/popper.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
	

	    <!-- Jquery Mobile Menu -->
        <script src="{{url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/price_rangs.js')}}"></script>
        
		<!-- One Page, Animated-HeadLin -->
	<script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/animated.headline.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>
	    
		<!-- Scrollup, nice-select, sticky -->
	<script src="{{url_for('static', filename='js/jquery.scrollUp.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>

        
        <!-- contact js -->
	<script src="{{url_for('static', filename='js/contact.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/mail-script.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>

        
		<!-- Jquery Plugins, main Jquery -->	
	<script src="{{url_for('static', filename='js/plugins.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
        
    </body>






</html>

<script>
    $(document).ready(function(){
        $("#viewStudentInfoDetails :input").prop("disabled", true);
    });
</script>
